.discuss-content{
  margin-top: 50px;
  overflow-y: auto;
  background: #fff;
}
.discuss-wrap{margin-top: 5%;}
.discuss-wrap .noteHead{
  text-align: center;
  font-size: 16px;color: #222;
}
p{margin: 0 0 10px}
.discuss-wrap .noteContent{
  padding: 10px;
  font-size: 15px;color: #666;
  line-height: 1.5;
  position: relative;
}
.discuss-wrap .noteChoice{
  position: absolute;
  top: 505px;
  text-align: center;
}
.clearfix{
  position: relative;
  width: 100%;
}
.selectBtn{
  width: 3.8rem;
  height: 0.8rem;
  margin-left: .7rem;margin-right: .416rem;
}
.fleft{float: left;}
.branchSelect{
  height: 100%;
  width: 100%;
  background: #c50206;
  color: #fff;font-size: 14px;font-weight: 600;
  line-height: 1.42;
  border-radius: 5px;
  text-align: center;
  padding-left: .69rem;
}
.branchSelect option{
  background: #fff;
  color: #000;
}
.nextBtn{
  width: 2.1rem;
  height: 0.8rem;line-height: 0.8rem;
  background: #c50206;
  border-radius: 5px;
  color: white;
  position: absolute;
  right: -100px;top: 1px;
}
