
.h-life{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.h-life .row1,.row2{display:flex;}
.h-life .row1{
  width: 100%;
}
.h-life .row2{
  width: 66.66%;
}
.h-life  .hor-option{
  flex:1;
  text-align: center;
  padding: 15px 20px;
}
.h-life  .hor-option img{
  width: 85px;
  height: 85px;
  margin-bottom: 5px;
}
.hor-option i{
  font-size: 14px;
  color: #888;
}
