
/*头部*/
.up-t{
  width: 100%;
  height: 3.1rem;
  background: #c50206;
  padding-top: 24px;
}
.hsc img{
  width: 65px;
  height: 65px;
  display: flex;
  margin: 8px auto;
}
.no-deng a{
  width: 130px;
  color: #fff;
  display: flex;
  margin: 2px auto;}
/*内容*/
.my-content{
  width: 100%;
}
.my-content a{
  display: flex;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #777;
}
.my-content-left{
  width: 35px;
  height: 35px;
  margin: 10px;
}
.my-content span{
  font-size: 17px;
  color: #979797;
  margin-top: 18px;
}
.my-content i{
  position: fixed;
  right: 10px;
  margin-top: 14px;
  font-size: 23px;
}
